@media (max-width: 767px) {
    body{
        text-align: center;
    }
    .first-hero .col-lg-6{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    #try-it{
        width: 30%;
    }
    #mockups-img{
        width: 400px;
    }
    #second-hero-col1, #second-hero-col3 {
        flex-direction: column-reverse;
        display: flex;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 5rem;
    }
    #second-hero-col2{
        flex-direction: column;
        display: flex;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 5rem;
    }
    #modal{
        padding: 2rem;
    }
}
@media (max-width: 500px){
    #modal{
        padding: 2rem;
        position: absolute;
        right: 1.5rem;
        width: 440px;
        gap: 10px;
    }
    #third-section{
        margin-top: 15rem;
    }
    #footer{
        display: unset !important;
        text-align: start !important;
    }
    #footer-huddle-logo{
        margin-right: 10rem;
        margin-bottom: 2rem;
    }
    #social-media-icons{
        justify-content: center;
    }
    #links{
        display: unset !important;
        text-align: start !important;
        margin-bottom: 3rem;
    }
    #contact{
        margin-bottom: 3rem;
    }
}